@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

body {
  position: relative;
  margin: 0;
  font-family: 'Quattrocento', serif  !important;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  width: 100%;
  height: auto;
}

#logo {
  height: auto;
  width: 100px;
}

a,
a:hover {
  text-decoration: none !important;
}

h1 {
  font-size: 3.5rem;
}

header {
  background-image: url("https://10619-2.s.cdn12.com/rests/original/108_503364106.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 690px;
  position: relative;
}

#logo {
  width: 120px;
}

header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.59);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

nav,
header > section,
footer > div {
  position: relative;
  z-index: 3;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #008938

  !important;
}

.navbar{
        color: red !important;
        /* width: 850px; */
}

/* .nav-toggler-alt {
  color:#C8102F;
} */

.green-filled-btn,
.green-filled-btn :focus {
  background-color: #008938;
  color: #fff;
  border: none;
  outline: none;
}

.btn-lg {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.green-filled-btn:hover {
  color: #1c1c1c;
}

.transparent-btn,
.transparent-btn:focus {
  padding: calc(0.75rem - 1px) calc(1.25rem - 1px);
  border: 1px solid #008938  ;
  color: #fff;
  background: transparent;
  outline: none;
}

.transparent-btn:hover {
  background-color: #008938  ;
  color: #000;
}

.footer {
  position: relative;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.9) 50%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("https://pbs.twimg.com/media/DNIuTkCX0AADDnb?format=jpg&name=900x900");
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 430px;
  padding-top: 78px;
}  

.gold-text {
  color: #F2B700 !important;
}

.light-black {
  background-color: #1c1c1c !important;
}

.deep-black {
  background-color: #000000;
}

.center-text {
  max-width: 600px;
  margin: 0 auto !important;
}

body::-webkit-scrollbar {
  background-image: url("https://w0.peakpx.com/wallpaper/772/905/HD-wallpaper-cheese-texture-close-up-food-textures-slices-of-cheese-macro-creative-cheese.jpg");
  scrollbar-shadow-color: #000 2px;
  width: 1.5em;
  border-radius: 25px;
}

body::-webkit-scrollbar-track:vertical {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

body::-webkit-scrollbar-thumb {
  background-image: url("/images/sandwich-scrollbar.png"),
    linear-gradient(100deg, transparent, transparent);
  background-position: center bottom, center -40px top;
  background-repeat: no-repeat, no-repeat; 
  background-size: contain; 

}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }


  #logo {
    width: 100px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #111 !important;
    padding: 20px 0;
  }

  .navbar-light .navbar-nav .nav-link.active {
    color: #fff !important;
  }
}
